* {
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

html, body {
	/*height: 100%;*/
	width: 80%;
	margin: 0 auto;
	min-width: 630px;
}

.intro {
	/*width: 70%;*/
	margin: 0 auto;
	text-align: justify;
}

.welcome {
	/*width: 85%;*/
	text-align: right;
	float: right;
	margin-bottom: 30px;
}

.text {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 25px;
}

.bold {
	font-weight: bold;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	clear: both;
	/*width: 77%;*/
	margin: 30px auto;
}

.box {
	width: 155px;
	height: 155px;
	background: red;
}

footer {
	text-align: center;
	border-top: 1px solid #AAA;
}

a {
	text-decoration: none;
}

ul {
	padding-top: 10px;
}

li {
	display: inline;
	list-style-type: none;
	margin: 10px;
}

.a {
	background: url(http://upload.wikimedia.org/wikipedia/en/b/bc/Wiki.png) no-repeat center;
	/*background-repeat: no-repeat;
	background-position: center;*/
}

.b {
	background: url(http://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/135px-Wiktionary-logo-en.svg.png) no-repeat center;
}

.c {
	background: url(http://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Wikiquote-logo-en.png/120px-Wikiquote-logo-en.png) no-repeat center;
}

.d {
	background: url(http://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikibooks-logo-en-noslogan.svg/140px-Wikibooks-logo-en-noslogan.svg.png) no-repeat center;
}

.e {
	background: url(http://upload.wikimedia.org/wikipedia/sources/b/bc/Wiki.png) no-repeat center;
}

.f {
	background: url(http://upload.wikimedia.org/wikinews/en/b/bc/Wiki.png) no-repeat center;
}

.g {
	background: url(http://upload.wikimedia.org/wikiversity/en/b/bc/Wiki.png) no-repeat center;
}

.h {
	background: url(http://upload.wikimedia.org/wikipedia/species/b/bc/Wiki.png) no-repeat center;
}

.i {
	background: url(http://upload.wikimedia.org/wikipedia/mediawiki/b/bc/Wiki.png) no-repeat center;
}

.j {
	background: url(http://upload.wikimedia.org/wikipedia/commons/e/e4/Wikidata-logo-en-135px.png) no-repeat center;
}

.k {
	background: url(http://upload.wikimedia.org/wikipedia/commons/7/79/Wiki-commons.png) no-repeat center;
}

.l {
	background: url(http://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Wikivoyage-Logo-v3-en.svg/135px-Wikivoyage-Logo-v3-en.svg.png) no-repeat center;
}

.m {
	background: url(http://upload.wikimedia.org/wikipedia/meta/b/bc/Wiki.png) no-repeat center;
}

.n {
	background: url(http://upload.wikimedia.org/wikipedia/incubator/b/bc/Wiki.png) no-repeat center;
}

.o {
	background: url(http://wikitech.wikimedia.org/w/images/c/cf/Labslogo_thumb.png) no-repeat center;
}

.p {
	background: url(http://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Wikimedia_Foundation_RGB_logo_with_text.svg/135px-Wikimedia_Foundation_RGB_logo_with_text.svg.png) no-repeat center;
}